<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Primer documento en HTML</title>
</head>
<body>
    <header>
        <div><img src="/img/logo-mercado-liebre.svg" alt=""></div>
    </header>

    <section>
        <h4>Lugar para poner la barra de busqueda</h4>
    </section>

    <section>
        <h4>Comprá en cuotas y sin tarjeta de crédito</h4>
    </section>

    <section>
        <ul>
            <li>Ofertas</li>
            <li>Tiendas Oficiales</li>
            <li>Vender</li>
            <li>Ayuda</li>
        </ul>
    </section>

    <section>
        <ul>
            <li>Crea tu cuenta</li>
            <li>Ingresa</li>
            <li>Mis compras</li>
        </ul>
    </section>

 

</body>
</html>